# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# Internal Context
/context/*
!/context/specific/
/context/specific/*
!/context/specific/branding.json
!/context/specific/conclusion.md
/directives/
/execution/
README.GSD.md
base64_output.txt

# Temporary/System files
*.txt
*.log
.DS_Store
release_notes*.md

# Firebase Secrets
slimly-lf-firebase.json

# Static Assets

/logo/
/fonts/
/public/*.png
!/public/heart*.png
!/public/logo.png
!/public/github.png
!/public/linkedin.png
!/public/portfolio.png
!/public/favicon.ico
!/public/vercel.svg
!/public/aa9d246d7b19402aa995178413194327.txt
!/public/next.svg
